@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #088178;
  --color-secondary: #cee6e4;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

/* Force tooltips to be on the very top layer */
.tooltip:before,
.tooltip:after {
  z-index: 999 !important;
}

/* Ensure the drawer side doesn't clip them */
.drawer-side {
  overflow: visible !important;
}
